div.row
    div.col-sm-8#contact-div
        form#contact-form(method="post",action="contact_sent")
            div.form-group
                label(for="InputName") Nom
                input(type="text",class="form-control" id="InputName" placeholder="Votre nom",required)
            div.form-group
                label(for="InputTel") Téléphone
                input(type="text",class="form-control" id="InputTel" placeholder="Votre téléphone",required)
            div.form-group
                label(for="InputEmail1") Email
                input(type="email",class="form-control",id="InputEmail1",aria-describedby="emailHelp",placeholder="Votre email",required)
                small#emailHelp.form-text.text-muted Votre e-mail ne sera jamais affiché publiquement.
            div.form-group
                label(for="message") Votre message
                textarea#message.form-control(rows="5", placeholder="Votre message",required)
            div.g-recaptcha(data-sitekey="6LfvjkAUAAAAAOaJm2syTPk7k0iUfHe599TjP-7O")
                
            button#submitButton.btn.btn-primary(type="submit") Envoyer
        #errorMessage.alert.alert-danger.d-none
            | Il semble y avoir eu un problème, merci de nous contacter directement au 03 23 65 12 12.
        #successMessage.alert.alert-success.d-none
            | Merci pour votre message, nous vous recontacterons dans les plus brefs délais.

    div.col-sm-4
        p 
            | 4 Avenue de l'Europe <br />
            | 02430 Gauchy <br />
            |  <br /> <br />
            | <strong>Tel</strong> : 03.23.65.12.12 <br />
            | <strong>Mail</strong>: contact@a3smecanique.fr  <br />
        
        div#map(style="height: 300px; width: 100%")