div.row
    div.col-sm-8
        form(method="post",action="contact_sent")
            div.form-group
                label(for="exampleInputName") Nom
                input(type="text",class="form-control" id="exampleInputName" placeholder="Votre nom",required)
            div.form-group
                label(for="exampleInputTel") Téléphone
                input(type="text",class="form-control" id="exampleInputTel" placeholder="Votre téléphone",required)
            div.form-group
                label(for="exampleInputEmail1") Email
                input(type="email",class="form-control",id="exampleInputEmail1",aria-describedby="emailHelp",placeholder="Votre email",required)
                small#emailHelp.form-text.text-muted Votre e-mail ne sera jamais affiché publiquement.
            div.form-group
                label(for="message") Votre message
                textarea#message.form-control(rows="5", placeholder="Votre message",required)
                
            button#submitButton.btn.btn-primary(type="submit") Envoyer
    div.col-sm-4
        p 
            | Voie d’Urvillers <br />
            | (Site Nestlé France)  <br />
            | 02240 ITANCOURT <br />
            |  <br /> <br />
            | <strong>Tel</strong> : 03.23.65.12.12 <br />
            | <strong>Fax</strong> : 03.23.65.04.20 <br />
            | <strong>Mail</strong>: a3s.mecanique@orange.fr  <br />
        
        div#map(style="height: 300px; width: 100%")


<script src="scripts/contact.js" type="text/javascript" ></script>
- var url="https://maps.googleapis.com/maps/api/js?key=" + config.google_maps_key + "&callback=initMap"
script(async,defer,src=url)