if (page.images != null)
    div#nanogallery2(data-nanogallery2='{"thumbnailHeight": 210, "thumbnailWidth": 210,"thumbnailL1GutterWidth":  30,"itemsBaseURL":""}')
        each image in page.images
            a(href=config.cdn_prefix+image) &nbsp;