{
  "google_maps_key" : "" ,
  "cdn_prefix: "",
  "ga_tracking_code" : "",
  "recaptcha_public_key" : "",
  "recaptcha_private_key" : "",
  "recipientContactEmail" : "",
  "url" : "",
  "aws_region" : "eu-west-1",
  "aws_ses_access_key" : "",
  "aws_ses_private_key" : ""
}